# Data and Dataset
Data/
Data/**

# Deep Learning / PyTorch Weights
*.pth
*.pt
*.onnx

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# System / OS Files
Thumbs.db
db.db
desktop.ini
.DS_Store

# IDEs
.vscode/
.idea/
